
@{
    ViewBag.Title = "DefaultLayout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Online Book Exchange</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="bg-light d-flex justify-content-center">
        <h5 class="p-4">Book Exchange</h5>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light m-2 rounded-4">

        @*<a class="navbar-brand text-white" href="/Developer/Developer">Online Book Exchange</a>*@
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav text-uppercase fw-semibold">

                <li class="nav-item">
                    <a class="nav-link" href="/Books/Index">Books</a>

                <li class="nav-item">
                    <a class="nav-link" href="/Developer/Tayyab">Developer</a>

            </ul>
        </div>
    </nav>

    <div class="body-content pt-2 p-lg-0 p-rg-0 mt-0 m-0 container-fluid d-flex flex-column align-items-center">
        @RenderBody()
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
<style>
    .nav-item.dropdown .nav-link::after {
        content: none;
    }

    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }

    .profile-logo {
        width: 100%;
    }

    /*.navbar {
        transform: translateY(-100%);
        opacity: 0;
    }*/

    .nav-link {
        color: black;
        display: inline-block;
        position: relative;
        cursor: pointer;
    }

        .nav-link:hover {
            color: #00bfc5;
        }

        .nav-link::after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #00bfc5;
            transition: transform 0.25s ease-out;
            transform-origin: bottom center;
        }

        .nav-link:hover::after {
            transform: scaleX(0.5);
            transform-origin: bottom center;
        }
</style>
