@model IEnumerable<OnlineBookExchange.ViewModels.ReportedIssuesViewModel>

@{
    ViewBag.Title = "Reported Issues";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Reported Issues</h2>

        <table class="table w-75">
            <thead>
                <tr>
                    <th>IssueID</th>
                    <th>ReporterID</th>
                    <th>BookID</th>
                    <th>UserID</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>CreatedAt</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var reports in Model)
                {
                    <tr>
                        <td>@reports.IssueID</td>
                        <td>@reports.ReporterID</td>
                        <td>@reports.BookID</td>
                        <td>@reports.UserID</td>
                        <td>@reports.Description</td>
                        <td>@reports.Status</td>
                        <td>@reports.CreatedAt</td>
                    </tr>
                }
            </tbody>
        </table>

